<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>The date for today is: {% now "jS F Y H:i" %}</h1>
<h2>Every day is a wonderful day. Or so they'd like you to believe. You see, I am a day hater. Every one of them is
dreadfully long, painstakingly tedious, and each serves as a reminder that, tomorrow, there is another.</h2>
<h3>This page was supposed to be about days, and it is, is it not?</h3>
<h4>Maybe I ought to have inserted this into /info?</h4>
<h5>The headers...why does this page feel so small all of a sudden?</h5>
<h6>Let's test the limits of your eyes shall we?After all, every day is as bleak as this text right here. Visible, yet,
    so small and uncertain that any clear thought you think you can have about it vanishes before you can
form one.</h6>
<h7>This, for some reason, is bigger. Focus on this text. This is a comfort from what horrors await you above.
    But it's not really a wait if you never look at it, right?</h7>
<p>I've ran out of headers.</p>

</body>
</html>